AbodyMain
{ display:block;
text-align:center;
margin:10px 20px 10px 20px;
margin-top:12pt;
font-size:15pt}
Wolf
{ font-style:italic;
text-align:center}
title
{ display:block;
text-align:center;
font-weight:bold;
EXAM
{ display:block;
text-align:center;
}
name
{ display:block;
text-align:center;
PASSING
{ display:block;
text-align:center;
}
AText
{ display:block;
margin:50px 100px;
 border-style:solid
border-color:#8C0088}
